{% extends "template.html" %}

{% block content %}

<div class="backdrop p-5">
    <div class="d-flex flex-column justify-content-start align-items-start p-3 border " style="width: fit-content; max-width: 600px; background-color: white; position: relative; overflow: auto;">
        
        <div class="container-fluid pb-3">
            <h2 class="fs-4 text-center" style="text-decoration: underline;">Info</h2>
        </div>
        
        <a href="{{ url_for('info')}}" style="color: black; position: absolute; right: 20px"> <i class="bi bi-x-lg"></i> </a> 
        
        <div class="d-flex flex-column" style="width: 500px;">
            <p> 
                The website takes in the BSD faculty roaster, SCOPUS csv file, and the intended tracking excel
                file in that <em>order</em> to find all of the latest publication by BSD faculty and update the tracking excel file.
                Once all the files with the correct columns are uploaded, the submit button with appear. Clicking it will
                download the updated tracking file. 
            </p>
            <p>
                The rows for publications with no <em>correspondence address</em> are filled with yellow and the last author in 
                author list is used as the corresponding author. 
            </p>
            <p>
                In cases where the <em>Authors with affiliation</em>
                column form Scopus has formating other than not last-name, first-initial, affiliation; ... 
                resulting in a different number of authors parsed from this column than in the <em>Authors</em> column, the row is filled with green.
            </p>
            <p> 
                If both strange cases are true, the row is filled with blue.
            </p>
        </div>

        <div class="py-2 d-flex flex-column justify-content-start align-items-start">
            <h3 class="fs-5">Faculty Roaster </h3>
            <p style="margin-bottom: 2px;">Required columns:</p>
            <ul>
                <li> " --FIRST NAME" </li>
                <li> " LAST NAME" </li>
                <li> " PREVIOUS LAST NAME" </li>
                <li> " DEPARTMENT NAME" </li>
                <li> "FACULTY TRACK"</li>
            </ul>

        </div>

        <div class="py-2">
            <h3 class="fs-5"> Scopus CSV </h3>
            <p>Check these boxes when downloading the CSV file from SCOPUS:</p>
            <img src="{{ url_for('static', filename = 'scopus_boxes.png') }}" width="500px"/>

        </div>

        <div class="py-2">
            <h3 class="fs-5"> Tracking Excel File </h3>
            <p>Required columns and their <strong>orders</strong> are:</p>
            <ol>

                <li> Correspoding Author(s) </li>
                <li> Corresponding Author(s) Department </li>
                <li> Corresponding Author(s) Track </li>
                <li> Middle Author(s) </li>
                <li> Middle Author(s) Department </li>
                <li> Middle Author(s) Track </li>
                <li> Journal </li>
                <li> Title </li>
                <li> Year </li>
                <li> Link </li>
            </ol>
            

        </div>
    </div>
</div>

{% endblock content %}
